.sidebar {
	font-size: medium;
}

.form-horizontal .label-align-left.control-label {
	text-align: left;
}

.table>thead>tr>th.table-input-header {
	padding: 3px;
}

.table>thead>tr>th.table-action-glyphicon {
	padding: 0px;
	font-size: 22px;
	text-align: center;
	vertical-align: middle;
}

.table>tbody>tr>td.table-action-glyphicon {
	padding: 0px;
	font-size: 22px;
	text-align: center;
	vertical-align: middle;
}

.table-input-field {
	padding-left: 5px;
	border: 2px solid beige;
	font-weight: normal;
	width: 90%;
}

.tab-content {
	border: 2px solid beige;
	padding: 10px;
}

.form-glyphicon {
	font-size: 30px;
}

.form-fields-hr {
	border-top: 3px solid #eee;
}

.table-with-min-width {
	min-width: 768px;
}

.clickable {
	cursor: pointer;
}