<h2>Fields</<h2></h2>

<!-- Tabs -->
<nav>
  <ul class="nav nav-tabs">
  <li role="presentation"><a href="#/forms">Forms</a></li>
  <li role="presentation" class="active"><a href="#/user">Fields</a></li>
  </ul>
</nav>

<!-- Active tab content -->
<div class="tab-content">
  <form class="form-horizontal">
    
    <div class="form-group" ng-repeat="field in model.fields">
      <label for="{{'fieldId' + field._id}}" class="col-xs-12 col-md-2 control-label label-align-left">{{field.label}}</label>
      <div ng-switch on="field.fieldType">
        
        <div ng-switch-when="TEXT">
          <div class="col-xs-8 col-md-7">
            <input type="text" class="form-control" id="{{'fieldId' + field._id}}" placeholder="{{field.placeholder}}">
          </div>
          <div class="col-xs-4 col-md-3 table-action-glyphicon">
            <span class="glyphicon glyphicon-pencil form-glyphicon"></span>
            <span class="glyphicon glyphicon-plus form-glyphicon"></span>
            <span class="glyphicon glyphicon-remove form-glyphicon" ng-click="model.removeField($index)"></span>
            <span class="glyphicon glyphicon-align-justify form-glyphicon"></span>
          </div>
        </div>
        
        <div ng-switch-when="EMAIL">
          <div class="col-xs-8 col-md-7">
            <input type="email" class="form-control" id="{{'fieldId' + field._id}}" placeholder="{{field.placeholder}}">
          </div>
          <div class="col-xs-4 col-md-3 table-action-glyphicon">
            <span class="glyphicon glyphicon-pencil form-glyphicon"></span>
            <span class="glyphicon glyphicon-plus form-glyphicon"></span>
            <span class="glyphicon glyphicon-remove form-glyphicon" ng-click="model.removeField($index)"></span>
            <span class="glyphicon glyphicon-align-justify form-glyphicon"></span>
          </div>
        </div>
        
        <div ng-switch-when="TEXTAREA">
          <div class="col-xs-8 col-md-7">
            <textarea id="{{'fieldId' + field._id}}" rows="3" placeholder="{{field.placeholder}}"></textarea>
          </div>
          <div class="col-xs-4 col-md-3 table-action-glyphicon">
            <span class="glyphicon glyphicon-pencil form-glyphicon"></span>
            <span class="glyphicon glyphicon-plus form-glyphicon"></span>
            <span class="glyphicon glyphicon-remove form-glyphicon" ng-click="model.removeField($index)"></span>
            <span class="glyphicon glyphicon-align-justify form-glyphicon"></span>
          </div>
        </div>
        
        <div ng-switch-when="DATE">
          <div class="col-xs-8 col-md-7">
            <input type="date" class="form-control" id="{{'fieldId' + field._id}}">
          </div>
          <div class="col-xs-4 col-md-3 table-action-glyphicon">
            <span class="glyphicon glyphicon-pencil form-glyphicon"></span>
            <span class="glyphicon glyphicon-plus form-glyphicon"></span>
            <span class="glyphicon glyphicon-remove form-glyphicon" ng-click="model.removeField($index)"></span>
            <span class="glyphicon glyphicon-align-justify form-glyphicon"></span>
          </div>
        </div>
        
        <div ng-switch-when="SELECT">
          <div class="col-xs-8 col-md-7">
            <select class="form-control" id="{{'fieldId' + field._id}}">
              <option ng-repeat="option in field.options" value="{{option.value}}">{{option.label}}</option>
            </select>
          </div>
          <div class="col-xs-4 col-md-3 table-action-glyphicon">
            <span class="glyphicon glyphicon-pencil form-glyphicon"></span>
            <span class="glyphicon glyphicon-plus form-glyphicon"></span>
            <span class="glyphicon glyphicon-remove form-glyphicon" ng-click="model.removeField($index)"></span>
            <span class="glyphicon glyphicon-align-justify form-glyphicon"></span>
          </div>
        </div>
        
        <div ng-switch-when="CHECKBOX">
          <div class="checkbox col-xs-8 col-md-7">
            <div ng-repeat="option in field.options">
              <label><input type="checkbox" value="{{option.value}}">{{option.label}}</label> <br>
            </div> 
          </div>
          <div class="col-xs-4 col-md-3 table-action-glyphicon">
            <span class="glyphicon glyphicon-pencil form-glyphicon"></span>
            <span class="glyphicon glyphicon-plus form-glyphicon"></span>
            <span class="glyphicon glyphicon-remove form-glyphicon" ng-click="model.removeField($index)"></span>
            <span class="glyphicon glyphicon-align-justify form-glyphicon"></span>
          </div>
        </div>
        
        <div ng-switch-when="RADIO">
          <div class="col-xs-8 col-md-7 radio">
            <div ng-repeat="option in field.options">
              <label><input type="radio" value="{{option.value}}">{{option.label}}</label> <br>
            </div>
          </div>
          <div class="col-xs-4 col-md-3 table-action-glyphicon">
            <span class="glyphicon glyphicon-pencil form-glyphicon"></span>
            <span class="glyphicon glyphicon-plus form-glyphicon"></span>
            <span class="glyphicon glyphicon-remove form-glyphicon" ng-click="model.removeField($index)"></span>
            <span class="glyphicon glyphicon-align-justify form-glyphicon"></span>
          </div>
        </div>
        
      </div> 
    </div>
    
    <div class="form-group">
      <label class="col-xs-12 col-md-2 control-label label-align-left">Add New Field:</label>
      <div class="col-xs-8 col-md-7">
        <select class="form-control" name="newFieldSelect" ng-model="model.fieldType">
          <option ng-repeat="fieldType in model.availableFieldTypes" value="{{fieldType}}">{{fieldType}}</option>
        </select>
      </div>
      <div class="col-xs-4 col-md-3 table-action-glyphicon">
        <span class="glyphicon glyphicon-plus form-glyphicon" ng-click="model.addField()"></span>
      </div>
    </div>
    
  </form>
</div>