<!--<div class="main page-offset">
    <div class="row clearfix no-margin">
        <div class="search-container col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-2">
            <h3>News Search</h3>
            <form class="form-horizontal">
                <div class="form-group form-group-lg">
                    <div class="col-xs-10 search-form-input">
                        <input ng-model="search.title" class="form-control search-box" type="text" id="search" placeholder="">
                    </div>

                    <a ng-click="search(movie.title)" class="btn btn-custom col-xs-2 search-button"><span
                            class="glyphicon glyphicon-search"
                            aria-hidden="true"></span></a>

                </div>
            </form>

        </div>
    </div>


    <div class="col-xs-11 col-md-9 col-centered">
        <h4>News</h4>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>User</th>
                    <th>Like</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="movie in model.response">
                    <td>
                        <a href="#/result/{{movie.idIMDB}}">{{movie.title}}</a>
                    </td>
                    <td>
                        <button ng-click="model.like(movie)" class="btn btn-info">
                            <span class="glyphicon glyphicon-star-empty"></span>
                        </button>
                    </td>
                </tr>

            </tbody>
        </table>
    </div>
</div>
-->

<div class="row">


    <div ng-controller="SearchController" class="container col-sm-8">

        <h1>Serach Newsroom</h1>
        <form class="form-horizontal">
            <div class="form-group">
                <label for="SearchTitle" class="col-sm-2 control-label">Search</label>
                <div class="col-sm-10">
                    <input ng-model="search.title" type="text" class="form-control" id="SearchTitle" placeholder="e.g. Mars">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <a ng-click=search(search.title) role="button" class="btn btn-danger form-control">Search</a>
                </div>
            </div>
        </form>
    </div>
</div>
