<nav class="navbar navbar-default navbar-fixed-top">
	<div class="container-fluid">
			
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#/home">Form Maker</a>
		</div>
	
		<div id="navbar" class="navbar-collapse collapse" aria-expanded="false" ng>
			<ul class="nav navbar-nav navbar-right">
				<li ng-repeat="headerNav in model.headerNavs" ng-class="{active : $location.url().match(headerNav.name.toLowerCase())}">
					<a href={{headerNav.link}}><u>{{headerNav.name}}</u></a>
				</li>
			</ul>
		</div>
		
	</div>
</nav>